#![enable(implicit_some)]
Custom(
    CustomItem(
        item: Container(
            transform: (
                id: "inventory",
                x: -100.,
                anchor: MiddleRight,
                width: 200.,
                height: 400.,
                mouse_reactive: true,
                draggable: true,
            ),
            background: SolidColor(0.6, 0.6, 1.0, 1.0),
            children: [],
        ),
        data: CustomUiActionRetriggerData(
            on_click_start: [],
            on_click_stop: [],
            on_hover_start: [],
            on_hover_stop: [],
        ),
    ),
)