(
    texture_width: 7,
    texture_height: 1,

    sprites: [
        (
            x: 0,
            y: 0,
            width: 1,
            height: 1,
        ),
        (
            x: 1,
            y: 0,
            width: 1,
            height: 1,
        ),
        (
            x: 2,
            y: 0,
            width: 1,
            height: 1,
        ),
        (
            x: 3,
            y: 0,
            width: 1,
            height: 1,
        ),
        (
            x: 4,
            y: 0,
            width: 1,
            height: 1,
        ),
        (
            x: 5,
            y: 0,
            width: 1,
            height: 1,
        ),
        (
            x: 6,
            y: 0,
            width: 1,
            height: 1,
        ),
    ],
)